.oz-portfolio-ul-category {
	list-style: none outside none !important;
    padding: 0;
	margin:45px auto;
	text-align: center;
	padding: 0 30px;
	li {
		display: inline-block;
		margin-bottom:2px;
		margin-right:5px;
		margin-left:5px;
		a {
			border-radius:3px;
			background-color: #f9f9f9;
			color: #9f9f9f;
			display: block;
			padding: 5px 15px;
			text-decoration: none;
			cursor:pointer;
			transition:0.4s;
			&:hover , &:active {
				background-color: #e74c3c;
				color: #FFFFFF;
				transition:0.4s;
			}
		}
	}
}
.oz-portfolio {
	list-style: none outside none;
	margin: 0 0 90px 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	* {
		margin:0;
		padding:0;
	}
	.az-portfolio-item {
		float:left;
		width:20%;
		background-color:#e74c3c;
		.az-portfolio-img {
			display:block;
			&:hover {
				
			}
		}
		&:hover {
			.az-portfolio-img {
				
			}
			figcaption{
				
				bottom:0px;
				
			}
			.figure {
				transform: translateY(-20px);
				transition:transform 0.4s;
			}
			
		}
		
		.figure {
			overflow:hidden;
			display:block;
			img {
				width:100%;
				display:block;
			}
			margin:0;
			padding:0;
			position:relative;
			
			figcaption {
				position:absolute;
				padding:20px 5px 0px 5px;
				margin:0;
				top:auto;
				width:100%;
				text-align: center;
				background-color:#e74c3c;
				color:#ffffff;

				h3 {
					font-size:18px;
				}
				span {
					color :#000000;
					font-size:14px;
				}
			}
			
		}
		
	}
}

@media (max-width: 768px) {
	.oz-portfolio {
		.az-portfolio-item {
			width: 50%;
		}
	}
}

@media (max-width: 576px) {
	.oz-portfolio {
		.az-portfolio-item {
			width: 100%;
		}
	}
}
