a {
	color: $color__link-hover; //$color__link
	text-decoration: none;
	&:visited {
		color: $color__link-hover;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link; //$color__link-hover
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


.--color-reset {
	a {
		color:$color__link;
	}
	a:hover,
	a:focus {
		color:$color__link-hover;
	}
}