.site-footer-copyright {
	margin-top:60px;
	background-color: #e74c3c;
	width: 100%;
	color: #dddddd;
	padding:20px 0;
	a {
		color:#ffffff;
		&:hover {
				color:#000000;
			}
	}
}
.oz-social {
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	li {
		display:inline-block;
		a {
			padding:5px 8px;
			background-color:transparent;
			color:#ffffff;
			transition: 1s;
			&:hover {
				color:#000000;
			}
		}
	}
	&:after {
		content:' ';
		clear: both;
	}
}